<!DOCTYPE HTML>
<html>
<head>
	<title>App Hackathon</title>
</head>
<script>
	function findOS(){
		var OSName;
		if (navigator.appVersion.indexOf("Win")!=-1)
			 OSName="Windows";
		if (navigator.appVersion.indexOf("Mac")!=-1)
			 OSName="MacOS";
		if (navigator.appVersion.indexOf("X11")!=-1) 
			OSName="UNIX";
		if (navigator.appVersion.indexOf("Linux")!=-1) 
			OSName="Linux";
		if (navigator.appVersion.indexOf("iPhone")!=-1)
			OSName="iPhone";
		if (navigator.appVersion.indexOf("iPod")!=-1)
			OSName="iPod";
		if (navigator.appVersion.indexOf("Android Mobile")!=-1)
			OSName="Android Mobile";
		return OSName;
	}
	var OSName = findOS();
	if ( OSName == 'iPhone' || OSName =='iPod' || OSName =='Android Mobile') {
		document.write('<link rel="stylesheet" type="text/css" href="/static/mobile.css" >');
		document.write('<meta name="viewport" content="width=320;" />');
	}
	else {
		document.write('<link rel="stylesheet" type="text/css" href="/static/main.css" >');
	}
</script>
<body>
	<header>
		<p class=pTtl>
		<img src="/static/greyback.png" width="35px" height="28px" />
		App-Hackathon
		
		<script>
			var OSName = findOS();
		    if ( OSName == 'iPhone' || OSName =='iPod' || OSName =='Android Mobile') {
				document.write('</p></header>');
				document.write('<a href="{{ login_url }}" style="float:right; color:"#ffffff";><font color="FFFFFF">{{ login_text }}</font></a>');
		    }
		    else {
				document.write('<a href="{{ login_url }}" style="float:right; color:"#ffffff";><font color="FFFFFF">{{ login_text }}</font></a>');
				document.write('</p></header>');
		    }
		</script>
	</header>
   	<hr color="FF8800">     
	<nav id=navBtn>
		<ul>
			<li><a href='projects'>Projects</a></li>
			<li><a href='ideas'>Ideas</a></li>
			<li><a href='live'>Live</a></li>
			<li><a href='about'>About</a></li>
			<li><a href='faq'>FAQ</a></li>
		</ul>
	</nav>
    <hr color="FF8800">     

	<article class="i">
	<!--<article class="i big-list-box"> -->
		<p class="iTtl">Post your idea for an app below!</p>
		<br/>
		<p class="iDes">
		Fill out the form below, but if you want credit you need to login
		first with your Google account. Click the "Login" button if
		you're not already signed in (upper right).
		</p>

		<article class="i">
		<form action="ideas" method="post">
			{% csrf_token %}
			<div>
			<p class ="iTtl">
				<label for="idea-name">Title:</label>
			</p>
			<input id="idea-name" type="text" name="name"/>
			</div>
			<div>
			<p class ="iTtl">
				<label for="idea-description">Description:</label>
			</p>
			<textarea id="idea-description" name="description"
				rows="3" cols="25">
			</textarea>
			</div>
			<div><input type="submit" value="Post Idea"></div>
		</form>
		</article>

	</article>
	{% for idea in ideas %}
		<article class="i">
		<!--article class=" i list-box"> -->
		<p class="iTtl">
			{% if idea.author.nickname %}
			{{ idea.author }}
			{% else %}
			An anonymous person
			{% endif %}
			wrote:
		</p>
		{% if admin %}
		<form action="ideas/approve/{{ idea.key }}" method="post">
			{% csrf_token %}
			<input type="submit" value="Approve" />
		</form>
		<form action="ideas/delete/{{ idea.key }}" method="post">
			{% csrf_token %}
			<input type="submit" value="Delete" />
		</form>
		{% endif %}
		<p class="iTtl">{{ idea.name }}</p>
		<br/>
		<p class="iDes">
			{{ idea.description|escape }}
		</p>
		</article>
	{% endfor %}

</body>
</html> 
