<!DOCTYPE html>
<html>
<head>
	<title>App Hackathon</title>
</head>
<script>
	function findOS(){
		var OSName;
		if (navigator.appVersion.indexOf("Win")!=-1)
			 OSName="Windows";
		if (navigator.appVersion.indexOf("Mac")!=-1)
			 OSName="MacOS";
		if (navigator.appVersion.indexOf("X11")!=-1) 
			OSName="UNIX";
		if (navigator.appVersion.indexOf("Linux")!=-1) 
			OSName="Linux";
		if (navigator.appVersion.indexOf("iPhone")!=-1)
			OSName="iPhone";
		if (navigator.appVersion.indexOf("iPod")!=-1)
			OSName="iPod";
		if (navigator.appVersion.indexOf("Android Mobile")!=-1)
			OSName="Android Mobile";
		return OSName;
	}
	var OSName = findOS();
	if ( OSName == 'iPhone' || OSName =='iPod' || OSName =='Android Mobile') {
		document.write('<link rel="stylesheet" type="text/css" href="/static/mobile.css" >');
		document.write('<meta name="viewport" content="width=320;" />');
	}
	else {
		document.write('<link rel="stylesheet" type="text/css" href="/static/main.css" >');
	}
</script>

<body>
	<header>
		<p class=pTtl>
		<img src="/static/greyback.png" width="35px" height="28px" />
		App-Hackathon
		
		<script>
			var OSName = findOS();
		    if ( OSName == 'iPhone' || OSName =='iPod' || OSName =='Android Mobile') {
				document.write('</p></header>');
				document.write('<a href="{{ login_url }}" style="float:right; color:"#ffffff";><font color="FFFFFF">{{ login_text }}</font></a>');
		    }
		    else {
				document.write('<a href="{{ login_url }}" style="float:right; color:"#ffffff";><font color="FFFFFF">{{ login_text }}</font></a>');
				document.write('</p></header>');
		    }
		</script>
	<hr color="FF8800" />
	<nav id="navBtn">
		<ul>
			<li><a href='projects'>Projects</a></li>
			<li><a href='ideas'>Ideas</a></li>
			<li><a href='live'>Live</a></li>
			<li><a href='about'>About</a></li>
			<li><a href='faq'>FAQ</a></li>
		</ul>
	</nav>
	<hr color="FF8800" />

	<article class="i">
		<p class="iTtl">Live feed of ideas from Twitter</p>
		<p></p>
		<p class="iDes">
			Tag us with your idea, or include #AppHackathonOSU in your tweet!
		</p>
		<p class="iDes">If you like an idea feel free to retweet it!</p>
	</article>

	<p></p>

	<article class="i">
		<table>
			<tr>
				<td>
					<a class="twitter-timeline"
							href="https://twitter.com/AppHackathonOSU"
							data-widget-id="243850749581336576">
						Tweets by @AppHackathonOSU
					</a>
					<script>
					!function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = "//platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, "script", "twitter-wjs");
					</script>
				</td>
				<td>
					<a class="twitter-timeline"
							href="https://twitter.com/search?q=%23AppHackathonOSU"
							data-widget-id="243845330125328384">
						Tweets about "#AppHackathonOSU"
					</a>
					<script>
					!function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (!d.getElementById(id)) {
							js = d.createElement(s);
							js.id = id;
							js.src = "//platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js, fjs);
						}
					}(document, "script", "twitter-wjs");
					</script>
				</td>
			</tr>
		</table>
	</article>
</body>
</html> 
