<!DOCTYPE HTML>
<html>
  <meta name = "viewport" content="width=320;"/>
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <title>App Hackathon!</title>
  </head>
  <body>
	<header>
		<p class=pTtl>
           <img src="greyback.png" width="35" height="28" />
                 App-Hackathon
        </p>		
	</header>
	<HR color="FF8800">		
	<nav id=navBtn>
		<ul>
			<li><a href='/'>Projects</a></li>
            <li><a href='ideas.html'>Ideas</a></li>
			<li><a href='live.html'>Live</a></li>
			<li><a href='about.html'>About</a></li>
			<li><a href='faq.html'>FAQ</a></li>
		</ul>
	</nav>
	<HR color="FF8800">		
<article class=i>
	<p class=iTtl>Accepted Projects:</p>
	<p></p>
	<p class=iDes>These are the ideas that have been screened and accepted by the moderators so far. These will update every day, so keep voting!</p>
<article class=i>
	<p class=iTtl>Sudoku Solver</p>
	<p></p>
	<p class=iDes>An app where you can input your current puzzle and it shows you either the whole solution, or just the next number (a hint) in the puzzle. This can be a client-server app or all on a phone.</p>
    <form action="" method="post">      
      <input type="hidden" name="counter" value="simple" />
      <p><input type="submit" style="height:40px; width:120px;" value="Vote" /></p>
    </form>
    <p>Total: {{ simpletotal }}</p> 
</article>



<article class=i>
	<p class=iTtl>Wifi controlled objects</p>
	<p></p>
	<p class=iDes>Control something via wifi from a phone. </p>
 <form action="" method="post">
      <p><input type="hidden" name="counter" value="general" /></p>
      <p><input type="submit" style="height:40px; width:120px" value="Vote" /></p>
    </form>
    <p>Total: {{ generaltotal }}</p>
</article>


  </body>
</html> 






