<!DOCTYPE html>
<html>
<head>
	<!--<meta name = "viewport" content="width=320;user-scalable=1;" />-->
	<meta name="viewport" content="width=320;"/>	
	<link type="text/css" rel="stylesheet" href="/static/apps/main.css" />
	<title>App Hackathon</title>
</head>
<body>
	<header>
        <p class="pTtl">App-Hackathon</p>
    </header>
		
	<nav id="navBtn">
		<ul>
            <li><a href='/apps/ideas'>Ideas</a></li>
			<li><a href='/apps'>Projects</a></li>
			<li><a href='/apps/submission'>Submission</a></li>
			<li><a href='/apps/about'>About</a></li>
			<li><a href='/apps/rules'>Rules</a></li>
			<li><a href='/admin'>Admin</a></li>
		</ul>
	</nav>
	
	<article class="i">
		<p class="iTtl">Here's how to submit:</p>
		<p class="iDes">Fill out the form below:<p>
	</article>
</body>
</html> 
